.topSign {
    margin-bottom: 2rem;
    margin-top: 0.6rem;
    display: flex;
    justify-content: center;
    background-color: aqua;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.topLink {
    background-color: rgb(252, 255, 91);
    margin-right: 0.3rem;
    border-style: solid;
    border-width: 0.3rem;
    border-color: rgb(34, 34, 34);
    font-size: 2.5rem;
}

.topLink:hover {
    background-color: orange;
  }